header {
	margin: 20px 0 0;
}
header h1 {
	margin: 0;
    color: #007cbf;
    text-align: right;
}

.my-h1 {
  font-size:25px;}

.my-h2 {
  font-size:16px;}

.car-select-title {
	margin: 30px 0;
	text-align: center;}

.car-select-form {
	margin: 0 0 30px;
}

.my-padding{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;}

.my-padding2{
	padding-left:30px;
	padding-right:30px;
	padding-top:20px;}

.my-filter-content {
	background-color: rgba(0,0,0,.5);
	padding: 3%;}

.my-white {
  color:#fff;}

li {
    list-style-type: none;}

.my-margin-top-5 {margin-top: 5px;}
.my-margin-top-20 {margin-top: 20px;}
.my-margin-top-40 {margin-top: 40px;}
.my-margin-bottom-30 {margin-bottom: 30px;}
.my-margin-bottom-35 {margin-bottom: 35px;}
.my-padding-25 {padding: 25px;}
.my-padding-top-30 {padding-top: 30px;}
.my-padding-bottom-20 {padding-bottom: 20px;}
.my-padding-bottom-25 {padding-bottom: 25px;}
.my-padding-bottom-30 {padding-bottom: 30px;}
.my-font-size-16 {font-size: 16px;}
.my-font-size-20 {font-size: 20px;}
.my-font-size-22 {font-size: 22px;}
.my-font-size-25 {font-size: 25px;}
.my-font-size-50 {font-size: 50px;}
.my-font-weight-bold {font-weight:bold;}
.my-color-fff {color:#fff;}

.my-content-header-text {
	margin-top:20px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 25px;
	border: 1px solid #c4c4c4;}

.my-content-calc {	
	padding: 25px;
	border-left: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;}
	
.my-content-calc-text {	
	margin-right:-25px; 
	padding-bottom:20px;
	font-weight:bold;}
	
.my-line-calc {background:#007cbf;}

.my-calc{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;}

.my-calc-months {
	height: 20px;}
	
.my-padding-0 {
	padding: 0;}	

.my-padding-calc-month {
	padding-left: 9%;
	padding-right: 9%;}
	
.my-content-right-text {
	margin-top: 20px; 
	padding-left: 35px;
	padding-right: 25px; 
	padding-top: 35px; 
	padding-bottom: 25px;
	border: 1px solid #c4c4c4;}
	
.my-content-right-down-text {	
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 40px;
	padding-bottom: 32px;
	border-left: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;}
	
.my-header-app {
	background:#007cbf; 
	margin-top:20px; 
	padding-top:10px; 
	padding-bottom:20px;}

.my-content-app	{	
	border-left: 1px solid #c4c4c4; 
	border-right: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;}

.my-button-app {
	padding-left: 30px; 
	padding-right: 30px; 
	padding-top: 10px; 
	padding-bottom: 10px;}
	
.logo {
	max-width: 250px;
	display: block;}

.mod-list-h2 {
	font-weight: 700;}

.mod-list-h3 {
	font-size: 20px;}

.mod-list-txt {
	font-size: 30px;
	font-weight: 700;}

.model {
	overflow: hidden;}

.model:hover {
	background-color: #d9edf7;}

.car-item {
	display: table;
	width: 100%;
	height: 63px;
	font-size: 20px;}

.car-item-inner {
	display: table-cell;
	vertical-align: middle;}

.price {
	display: table;
	width: 100%;
	height: 63px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;}

.price-inner {
	display: table-cell;
	vertical-align: middle;}

.ruble {
	position: relative;}

.ruble:before,
.ruble:after {
	position: absolute;
	right: 8px;
	display: block;
	width: 5px;
	height: 2px;
	content:' ';
	background-color: #000000;}

.ruble:before {
	top: 8px;}

.ruble:after {
	top: 11px;}

.my-tabs li {
	background-color: #f5f5f5;
	border: 1px solid #c4c4c4;}

.my-tabs li a {
	display: block;
	padding: 5px 0;}

.my-tabs .row {
	display: block;}

.my-tab-content .tab-pane {
	padding-left: 15px;
	padding-right: 15px;}

.my-tab-content .panel-heading a {
	display: block;}

footer {
	margin: 30px 0 0;
	padding: 30px 0;
	background-color:#f5f5f5}

@media screen and (max-width:767px) {

	header h1 {
		font-size: 18px;}
	
	.my-padding-left-calc-month {
		padding-left: 11%;
		text-align:right;}
		
	.my-carousel-block-none {display: none;}
	.my-button-app-margin-top-20 {margin-top: 20px;}

	#popular-models.collapse.hidden-xs {
		display: none !important;
	}
	#popular-models.collapse.in.hidden-xs {
		display: block !important;
	}
	
}

@media screen and (min-width:768px) and (max-width:991px) {

	.my-padding-left-calc-month {padding-left: 13%;}
	
	.my-padding-calc-month {
		padding-left: 10%;
		padding-right: 9%;}
		
	.my-carousel-block-none {display: none;}

}

@media screen and (min-width:992px) and (max-width:1199px) {

	.my-padding-left-calc-month {padding-left: 9%;}
	
	.my-padding-calc-month {
		padding-left: 9%;
		padding-right: 9%;}
	
	.my-margin-left-content-0 {margin-left: 0px;}	
	.my-padding-top-content-8 {padding-top: 8px;}
	.my-padding-bottom-content-9 {padding-bottom: 9px;}
	
}

@media screen and (min-width:1199px) {
	
	.my-padding-left-calc-month {padding-left: 11%;}
	
	.my-padding-calc-month {
		padding-left: 9%;
		padding-right: 9%;}
		
	.my-margin-left-content-0 {margin-left: 0px;}

}























