<!DOCTYPE html>
<html data-ng-app="kreddb">
<head lang="ru">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block page_description %}калькулятор автокредитов{% endblock %}">
  <meta name="yandex-verification" content="61e71c0e44f6ce10" />
  <meta name="google-site-verification" content="z2rUcxw_c2ZKY48qvfEZKMEvwvdFlIz2_DTIagCLQi8" />
  <meta name="google-site-verification" content="CTRlENEQVy3iZuZ_vzH3uW2SQ3VTMrnSLRv7T3UWygQ" />

  <title>{% block pagetitle %}Кредит здоровью вредит{% endblock %}</title>
  {% load compress %}
  {% load staticfiles %}

  <!-- Bootstrap -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  {% compress css %}
  <link href="{% static 'kreddb/css/kreditiki.css' %}" rel="stylesheet">
  {% endcompress %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

</head>

<body>

<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <a class="logo" href="/"><img class="img-responsive" src="{% static 'kreddb/img/logo.png' %}" alt="Cent Percent"></a>
      </div>
      <div class="col-xs-6">
        <p class="h1">
          ЦентПроцент &mdash; очень удобный калькулятор автокредитов
        </p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    {% block content %}App body here{% endblock %}
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-left">
        <a href="{% url 'kreddb:contact_us' %}">связаться с нами</a>
      </div>
      <div class="col-sm-8 text-right">
        Указанная на сайте <a href="{% url 'kreddb:list_car_makes' %}">CentPercent.ru</a> информация является справочной и ни при
        каких обстоятельствах не может считаться публичной офертой.
      </div>
    </div>
  </div>
</footer>
  {% block localscripts %}{% endblock %}
{% include 'kreddb/javascripts.html' %}

</body>
</html>