{% extends "kreddb/base.html" %}

{% block page_description %}Актуальные цены, кредитный калькулятор {{ car_make }} {% for carmodel in carmodel_list|slice:":4" %}{{ carmodel.model_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endblock %}

{% block pagetitle %}
  Купить автомобиль {{ car_make }} в кредит онлайн в СПб
{% endblock %}

{% block content %}

  <div class="container">

    <h1 class="text-center my-h1">Автокредит на новую машину {{ car_make }}</h1>

    <div class="row" id="model_families">
      {% for carmodel in carmodel_list %}
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-padding">
          <div class="model-item">
            <a href="{{ carmodel.get_absolute_url }}"><img src="{{ carmodel.main_img_urls.m }}" alt="{{ carmodel.model_name }} в кредит"
                 title="{{ carmodel.model_name }}">
            <div class="my-filter-content">
              <h3 class="my-white">{{ carmodel.model_name }}</h3>
              <h4 class="my-white">От {{ carmodel.price_per_day }} руб. в день</h4>
            </div>
            </a></div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}