{% extends "kreddb/base.html" %}

{% block pagetitle %}
  Кредиты на автомобили {{ car_make }}
{% endblock %}

{% block content %}

<div class="container">

  <h1 class="text-center my-h1">Модели {{ car_make }} в кредит</h1>

<div class="row" id="car_models">
{% for carmodel in carmodel_list %}
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-padding">
    <div style="background: url({{ carmodel.main_img_url }}) no-repeat; background-position: 50%; background-size: cover;">
    <div class="my-filter-content">
      <h3 class="my-white">{{ carmodel.name }}</h3>
      <h4 class="my-white">От ХЗ руб. в день</h4>
      <a href="{{ carmodel.filter_url }}" class="btn btn-default" role="button">Подробнее</a>
    </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>

{% endblock %}