{% extends "kreddb/base.html" %}

{% block page_description %}
  Рассчитайте ежемесячный платеж и оформите заявку на кредит на новую машину со ставкой от 7% годовых онлайн в СПб
{% endblock %}

{% block pagetitle %}
  ЦентПроцент &mdash; калькулятор автокредитов в Санкт-Петербурге
{% endblock %}

{% block content %}

  <div class="container">
    <h1 class="text-center my-h1">Выберите марку и модель и оформите заявку на выгодный автокредит</h1>

    <carselector data-ng-cloak
                 data-ng-init="carmakes = [{% for car_make in carmake_list %}'{{ car_make.name }}', {% endfor %}]"></carselector>

    <p>CentPercent &mdash; удобный автокредитный калькулятор. Не нужно вручную вводить сумму кредита, сверяясь с сайтом
      дилера, просто выберите понравившийся автомобиль: мы мониторим цены и ставки онлайн и держим их актуальными.</p>
    <p>Не подходит ежемесячный платёж по машине? Смените марку или модель в один клик и CentPercent автоматически все
      пересчитает. На вашу заявку наши специалисты ответят в течение 8 минут.</p>
    <p>Мы работаем со всеми основными банками, в том числе Сбербанк и ВТБ 24. Возможно оформление кредита в том числе
      без первоначального взноса, с государственной поддержкой по программе 2016 года или с плохой кредитной
      историей</p>

    <button class="btn btn-primary btn-block btn-popular-models visible-xs-block" type="button">Посмотреть самые
      популярные модели
    </button>

    <div class="row">

      <div class="hidden-xs" id="popular-models">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-padding">
          <div class="model-item">
            <img src="{{ promo.0.images.m }}"
                 alt="Новая {{ promo.0.car_make }} {{ promo.0.car_model }} в кредит в Петербурге"
                 title="Новая {{ promo.0.car_make }} {{ promo.0.car_model }} в кредит в Петербурге">
            <div class="my-filter-content">
              <h3 class="my-white">{{ promo.0.car_make }} {{ promo.0.car_model }}</h3>
              <h3 class="my-white">За {{ promo.0.price_per_day }} рублей в день</h3>
              <a href="{{ promo.0.url }}" class="btn btn-default" role="button">Подробнее</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-padding">
          <div class="model-item">
            <img src="{{ promo.1.images.m }}"
                 alt="Новая {{ promo.1.car_make }} {{ promo.1.car_model }} в кредит в Петербурге"
                 title="Новая {{ promo.1.car_make }} {{ promo.1.car_model }} в кредит в Петербурге">
            <div class="my-filter-content">
              <h3 class="my-white">{{ promo.1.car_make }} {{ promo.1.car_model }}</h3>
              <h3 class="my-white">За {{ promo.1.price_per_day }} рублей в день</h3>
              <a href="{{ promo.1.url }}" class="btn btn-default" role="button">Подробнее</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 my-padding">
          <div class="model-item">
            <img src="{{ promo.2.images.m }}"
                 alt="Новая {{ promo.2.car_make }} {{ promo.2.car_model }} в кредит в Петербурге"
                 title="Новая {{ promo.2.car_make }} {{ promo.2.car_model }} в кредит в Петербурге">
            <div class="my-filter-content">
              <h3 class="my-white">{{ promo.2.car_make }} {{ promo.2.car_model }}</h3>
              <h3 class="my-white">За {{ promo.2.price_per_day }} рублей в день</h3>
              <a href="{{ promo.2.url }}" class="btn btn-default" role="button">Подробнее</a>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 my-padding">
          <div class="model-item">
            <img src="{{ promo.3.images.m }}"
                 alt="Новая {{ promo.3.car_make }} {{ promo.3.car_model }} в кредит в Петербурге"
                 title="Новая {{ promo.3.car_make }} {{ promo.3.car_model }} в кредит в Петербурге">
            <div class="my-filter-content">
              <h3 class="my-white">{{ promo.3.car_make }} {{ promo.3.car_model }}</h3>
              <h3 class="my-white">За {{ promo.3.price_per_day }} рублей в день</h3>
              <a href="{{ promo.3.url }}" class="btn btn-default" role="button">Подробнее</a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 my-padding">
          <div class="model-item">
            <img src="{{ promo.4.images.m }}"
                 alt="Новая {{ promo.4.car_make }} {{ promo.4.car_model }} в кредит в Петербурге"
                 title="Новая {{ promo.4.car_make }} {{ promo.4.car_model }} в кредит в Петербурге">
            <div class="my-filter-content">
              <h3 class="my-white">{{ promo.4.car_make }} {{ promo.4.car_model }}</h3>
              <h3 class="my-white">За {{ promo.4.price_per_day }} рублей в день</h3>
              <a href="{{ promo.4.url }}" class="btn btn-default" role="button">Подробнее</a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 my-padding">
          <div class="model-item">
            <img src="{{ promo.5.images.m }}"
                 alt="Новая {{ promo.5.car_make }} {{ promo.5.car_model }} в кредит в Петербурге"
                 title="Новая {{ promo.5.car_make }} {{ promo.5.car_model }} в кредит в Петербурге">
            <div class="my-filter-content">
              <h3 class="my-white">{{ promo.5.car_make }} {{ promo.5.car_model }}</h3>
              <h3 class="my-white">За {{ promo.5.price_per_day }} рублей в день</h3>
              <a href="{{ promo.5.url }}" class="btn btn-default" role="button">Подробнее</a>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row">
      <br/>
      <h2 class="text-center my-h1">Почему мы?</h2>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 my-padding2">
        <b>БЫСТРО</b>
        <br/>Среднее время ответа на запрос кредита - 8 минут.
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 my-padding2">
        <b>В ЛЮБОЕ ВРЕМЯ</b>
        <br/>Мы обрабатываем запросы 24 часа 7 дней в неделю.
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 my-padding2">
        <b>УДОБНО</b>
        <br/>Получайте уведомления на e-mail или мобильный телефон.
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 my-padding2">
        <b>НАДЕЖНО</b>
        <br/>Ваши персональные данные будут надежно защищены от мошенников.
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 my-padding2">
        <b>ВЫГОДНО</b>
        <br/>Большой выбор банков, процентные ставки - от 8% годовых.
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 my-padding2">
        <b>УДАЧНО</b>
        <br/>95% наших заявок одобряются банками.
      </div>

    </div>

    <div class="row">
      <br/>
      <h2 class="text-center my-h1">Все марки</h2>

      <br/>
      <ul id="list-marks">
        {% for car_make in carmake_list %}
          <li class="col-lg-2 col-md-2 col-sm-3 col-xs-6"><a href="{{ car_make.filter_url }}">{{ car_make.name }}</a>
          </li>
        {% endfor %}
      </ul>

    </div>

    <div>
      Приведённые условия кредитов не являются офертой, а расчитаны усреднённо с учётом следующих допущений:
      первоначальный взнос &mdash; 50%, срок &mdash; 60 месяцев, самая дешёвая комплектация.
    </div>

  </div>

{% endblock %}
