{% extends "kreddb/base.html" %}

{% block pagetitle %}
  CentPercent &mdash; свяжитесь с нами
{% endblock %}

{% block content %}

  <div class="container text-center">

    <p>Заметили ошибку на сайте?</p>
    <p>Есть вопросы по заполнению заявки?</p>
    <p>С вами некорректно общался кредитный менеджер?</p>
    <p class="mod-list-h3">Напишите нам на <a href="mailto:cent@centpercent.ru">cent@centpercent.ru</a></p>
    <p>Мы отвечаем оперативно.</p>

  <p>Юр. адрес: ООО «Ноукар», 194356, город Санкт-Петербург, проспект Луначарского, 42, литер б, помещение 19-Н</p>

  </div>

{% endblock %}