{% load compress %}
{% load staticfiles %}

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.8/angular-locale_ru-ru.min.js"></script>

{% compress js %}
<script src="{% static 'kreddb/js/main.js' %}"></script>
<script src="{% static 'kreddb/js/kreddb.js' %}"></script>
<script src="{% static 'kreddb/js/creditcalc/calculator.js' %}"></script>
<script src="{% static 'kreddb/js/directives/carselector.directive.js' %}"></script>
<script src="{% static 'kreddb/js/controllers/carselector.controller.js' %}"></script>
<script src="{% static 'kreddb/js/services/carmodels.service.js' %}"></script>
<script src="{% static 'kreddb/js/directives/creditcalc.directive.js' %}"></script>
<script src="{% static 'kreddb/js/controllers/creditcalc.controller.js' %}"></script>
<script src="{% static 'kreddb/js/filters/round.filter.js' %}"></script>
{% endcompress %}

<script src="{% static 'kreddb/js/google_analytics.js' %}"></script>
<!-- Yandex.Metrika counter -->
<script src="{% static 'kreddb/js/yandex_metrika.js' %}"></script>
<noscript><div><img src="https://mc.yandex.ru/watch/40481505" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->