{% extends "kreddb/base.html" %}

{% block pagetitle %}
  Кредит на любой автомобиль!
{% endblock %}

{% block content %}
<h1>Продай квартиру - купи тачку!</h1>
<div id="car-select">
  <form action="">
    <select type="select" id="select-marks">
      <option value="">Выберите марку...</option>
      {% for mark in mark_new_list %}
      <option value="{{ mark.name }}">{{ mark.name }}</option>
      {% endfor %}
    </select>
    <select type="select" id="select-models">
    </select>
    <select type="select" id="select-modifications">
    </select>
    <button type="button" id="search-btn">Найти</button>
  </form>
</div>
<!-- <div><button type="button" id="show-all-marks">Показать все марки</button></div> -->
<div id="marks">
  <h2>Все марки</h2>
  <ul id="list-marks">
  {% for mark in mark_new_list %}
    <li><a href="{{ mark.filter_url }}">{{ mark.name }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endblock %}