{% extends "kreddb/base.html" %}

{% block pagetitle %}
  Кредиты на {{ mark.name }} {{ model.name }}
{% endblock %}

{% block content %}

  <h1 class="my-h1">{{ mark.name }} {{ model.name }} в кредит</h1>
 <h2 class="my-h2">Выберите модификацию:</h2>
  <ul id="modifications" >
  {% for modification in modification_list %}
    <li><a href="{{ modification.get_absolute_url }}">{{ modification.name}}{% if modification.cost %} за {{ modification.cost }}{% endif %}</a></li>
  {% endfor %}
  </ul>
{% endblock %}