{% extends "kreddb/base.html" %}

{% block pagetitle %}
  Кредиты на {{ modification.mark.name }} {{ modification.car_model.name }} {{ modification.generation.generation }} {{ modification.equipment_name }}
{{ modification.body.name }} {{ modification.engine.name }} {{ modification.gear.name }}
{% endblock %}

{% block content %}

  <h1>{{ modification.mark.name }} {{ modification.car_model.name }} {{ modification.generation.generation }} {{ modification.equipment_name }}
{{ modification.body.name }} {{ modification.engine.name }} {{ modification.gear.name }}</h1>
{% if modification.cost %}
  <h3>Это корыто стоит {{ modification.cost }} руб.</h3>
{% else %}
 <h3>Похоже, это корыто уже не продаётся. Но всегда кто-то ищет лоха, которому можно сбагрить свой зачуханный тарантас.</h3>
<p>Серьёзно, не расстраивайтесь. Просто введите сумму сами.</p>
{% endif %}
<form id="calc">
    <p>
        <label>Стоимость автомобиля: </label><input type="number" id="price" value="{{ price }}" />
    </p>
    <p>
        <label>Первый взнос (процентов): </label><input type="number" id="first_payment" value="10" />
    </p>
    <p>
        <label>Длительность (мес.): </label><input type="number" id="months" value="12" min="12" />
    </p>
    <p>
        <label>Без каско: <input type="checkbox" id="no_insurance" /></label>
    </p>
    <p>
        <label>Без подтверждения дохода: <input type="checkbox" id="no_confirmation" /></label>
    </p>
    <p>
        <label>Выдача: </label><br/>
          <input type="radio" name="variation" id="variation_real" checked /><label for="variation_real">Суровая реальность</label><br/>
          <input type="radio" name="variation" id="variation_better" /><label for="variation_better">Преукрашенная реальность</label><br/>
          <input type="radio" name="variation" id="variation_best" /><label for="variation_best">Для лоха</label><br/>
    </p>
    <p>
        <label>Ставка кредита: <input type="number" id="percent" value="18" disabled /></label>
    </p>
    <input type="button" id="calculate" value="Посчитать" />
</form>
<h2>Расчёт кредита</h2>
<p id="result">(нажмите кнопку "Посчитать")</p>

<div>

</div>

{% endblock %}