{% extends "kreddb/base.html" %}

{% block page_description %}
  Рассчитайте выгодный кредит под процентную ставку от 7% годовых на автомобиль {{ car_make.name }} {{ car_model.name }}
{% endblock %}

{% block pagetitle %}
  Купить {{ car_make.name }} {{ car_model.name }} в кредит &mdash; автокредитный калькулятор {{ car_make.name }}
  {{ car_model.name }} в Петербурге онлайн
{% endblock %}

{% block content %}

	<h1 class="mod-list-h2">Автокредит на {{ car_make.name }} {{ car_model.name }} в СПб</h1>
	<p class="mod-list-txt">Выберите комплектацию:</p>

	<hr>

  {% for modification in modification_list %}
	<div class="model-block">
		<div class="model">
			<div class="col-xs-8 col-sm-7">
				<a class="car-item" href="{{ modification.get_absolute_url }}">
					<span class="car-item-inner">{{ modification.name }} {{ modification.body.name }} {{ modification.engine.name }} {{ modification.gear.name }}</span>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<span class="price">
					<span class="price-inner">{{ modification.cost }} руб.</span>
				</span>
			</div>
            {% comment %}
			<div class="col-xs-12 col-sm-3">
				<div class="row">
					<ul class="nav nav-tabs my-tabs" role="tablist" data-mod-id="{{ modification.id }}">
						<li class="col-xs-6 col-sm-12 text-center">
							<span class="row">
								<a href="#complectation{{ modification.id }}" aria-controls="complectation{{ modification.id }}" role="tab" data-toggle="tab">Комплектация</a>
							</span>
						</li>
						<li class="col-xs-6 col-sm-12 text-center">
							<span class="row">
								<a href="#characteristics{{ modification.id }}" aria-controls="characteristics{{ modification.id }}" role="tab" data-toggle="tab">Характеристики</a>
							</span>
						</li>
					</ul>
				</div>
			</div>
			{% endcomment %}
		</div>
        {% comment %}
		<div class="tab-content my-tab-content">
			<div role="tabpanel" class="tab-pane" id="complectation{{ modification.id }}">

				<p>&nbsp;</p>

				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="#SF{{ modification.id }}" data-toggle="collapse" aria-expanded="false">БЕЗОПАСНОСТЬ</a>
					</div>
					<ul id="SF{{ modification.id }}" class="list-group panel-collapse collapse">
					</ul>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="#CF{{ modification.id }}" data-toggle="collapse" aria-expanded="false">КОМФОРТ</a>
					</div>
					<ul id="CF{{ modification.id }}" class="list-group panel-collapse collapse">
					</ul>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="#IN{{ modification.id }}" data-toggle="collapse" aria-expanded="false">САЛОН</a>
					</div>
					<ul id="IN{{ modification.id }}" class="list-group panel-collapse collapse">
					</ul>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="#VW{{ modification.id }}" data-toggle="collapse" aria-expanded="false">ОБЗОР</a>
					</div>
					<ul id="VW{{ modification.id }}" class="list-group panel-collapse collapse">
					</ul>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="#MM{{ modification.id }}" data-toggle="collapse" aria-expanded="false">МУЛЬТИМЕДИА</a>
					</div>
					<ul id="MM{{ modification.id }}" class="list-group panel-collapse collapse">
					</ul>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="#EX{{ modification.id }}" data-toggle="collapse" aria-expanded="false">ЭКСТЕРЬЕР</a>
					</div>
					<ul id="EX{{ modification.id }}" class="list-group panel-collapse collapse">
					</ul>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="#CJ{{ modification.id }}" data-toggle="collapse" aria-expanded="false">ЗАЩИТА ОТ УГОНА</a>
					</div>
					<ul id="CJ{{ modification.id }}" class="list-group panel-collapse collapse">
					</ul>
				</div>

                <p>&nbsp;</p>

			</div>

			<div role="tabpanel" class="tab-pane" id="characteristics{{ modification.id }}">

                <p>&nbsp;</p>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#GE{{ modification.id }}" data-toggle="collapse" aria-expanded="false">ОБЩАЯ ИНФОРМАЦИЯ</a>
                    </div>
                    <ul id="GE{{ modification.id }}" class="list-group panel-collapse collapse">
                    </ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#SR{{ modification.id }}" data-toggle="collapse" aria-expanded="false">БЕЗОПАСНОСТЬ</a>
                    </div>
                    <ul id="SR{{ modification.id }}" class="list-group panel-collapse collapse">
                    </ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#EC{{ modification.id }}" data-toggle="collapse" aria-expanded="false">ЭКСПЛУАТАЦИОННЫЕ ПОКАЗАТЕЛИ</a>
                    </div>
                    <ul id="EC{{ modification.id }}" class="list-group panel-collapse collapse">
                    </ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#EN{{ modification.id }}" data-toggle="collapse" aria-expanded="false">ДВИГАТЕЛЬ</a>
                    </div>
                    <ul id="EN{{ modification.id }}" class="list-group panel-collapse collapse">
                    </ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#GR{{ modification.id }}" data-toggle="collapse" aria-expanded="false">ТРАНСМИССИЯ</a>
                    </div>
                    <ul id="GR{{ modification.id }}" class="list-group panel-collapse collapse">
                    </ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#SZ{{ modification.id }}" data-toggle="collapse" aria-expanded="false">РАЗМЕРЫ В ММ</a>
                    </div>
                    <ul id="SZ{{ modification.id }}" class="list-group panel-collapse collapse">
                    </ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#VM{{ modification.id }}" data-toggle="collapse" aria-expanded="false">ОБЪЕМ И МАССА</a>
                    </div>
                    <ul id="VM{{ modification.id }}" class="list-group panel-collapse collapse">
                    </ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#SB{{ modification.id }}" data-toggle="collapse" aria-expanded="false">ПОДВЕСКА И ТОРМОЗА</a>
                    </div>
                    <ul id="SB{{ modification.id }}" class="list-group panel-collapse collapse">
                    </ul>
                </div>

                <p>&nbsp;</p>

			</div>
		</div>
	    {% endcomment %}
	</div>
  {% endfor %}
{% endblock %}