{% extends "kreddb/base.html" %}

{% block pagetitle %}
  ЦентПроцент &mdash; условия обработки персональных данных
{% endblock %}

{% block content %}

  <div class="container text-center">

    <p>Оставляя заявку на сайте CentPercent.ru, я предоставляю Обществу с ограниченной ответственностью «Ноукар» свое
      согласие на обработку и передачу третьим лицам моих персональных данных. Под персональными данными подразумевается
      любая информация, относящаяся к субъекту персональных данных, т.е. ко мне, относимая Федеральным законом от
      27 июля 2006 года № 152-ФЗ «О персональных данных» к категории персональных данных. Для отзыва согласия на
      обработку моих персональных данных мною будет отправлено письмо в свободной форме в администрацию сайта на
      <a href="mailto:cent@centpercent.ru">cent@centpercent.ru</a>. Обработка и использование моих данных будет
      производиться в соответствии с внутренней политикой конфиденциальности. После передачи персональных данных
      кредитному брокеру ООО «Ноукар» не хранит персональные данные.</p>

  </div>

{% endblock %}